* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background: #080c20;
}

.logo {
  width: 120px;
  height: 35px;
  margin-top: 81px;
  margin-left: 165px;
}

.hero {
  display: flex;
  justify-content: space-between;
  margin-top: 153px;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: url("./assets/images/bg-hero-squiggle.svg") no-repeat center
    center;
  background-size: cover;
}

.hero__title {
  max-width: 667px;
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;
  color: #ffffff;
}

.hero__title strong {
  color: #3ee9e5;
}

.hero__description {
  max-width: 500px;
  font-size: 15px;
  margin-top: 13px;
  line-height: 25px;
  color: #777f98;
}

.benefits {
  margin-top: 202px;
}

.benefits__list {
  display: flex;
  gap: 125px;

  align-items: center;
  justify-content: center;

  align-items: center;
}

.benefits__image-list {
  width: 160px;
  height: 164px;
  padding: 26px;
  background: #093f68;
  border-radius: 48px;
  object-fit: contain;
}

.benefts__image-top {
  margin-top: 68px;
}

.benefits__title-list {
  display: flex;
  padding-top: 48px;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}

.benefits__description-list {
  font-weight: 500;
  max-width: 255px;
  font-size: 15px;
  line-height: 25px;
  color: #777f98;
  padding-top: 23px;
}
