* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background: #080c20;
}

.logo {
  width: 120px;
  height: 35px;
  margin-top: 81px;
  margin-left: 165px;
}

.hero {
  display: flex;
  justify-content: space-between;
  margin-top: 153px;
}

.hero__content {
  background: url("./assets/images/bg-hero-squiggle.svg") no-repeat center
    center;
  background-size: cover;
}

.hero__title {
  max-width: 667px;
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;
  color: #ffffff;
}

.hero__title strong {
  color: #3ee9e5;
}

.hero__description {
  max-width: 500px;
  font-size: 15px;
  margin-top: 13px;
  line-height: 25px;
  color: #777f98;
}

.benefits {
  margin-top: 202px;
}

.benefits__list {
  display: flex;
  gap: 125px;

  align-items: center;
  justify-content: center;

  align-items: center;
}

.benefits__image-list {
  width: 160px;
  height: 164px;
  padding: 26px;
  background: #093f68;
  border-radius: 48px;
  object-fit: contain;
}

.benefts__image-top {
  margin-top: 68px;
}

.benefits__title-list {
  display: flex;
  padding-top: 48px;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}

.benefits__description-list {
  font-weight: 500;
  max-width: 255px;
  font-size: 15px;
  line-height: 25px;
  color: #777f98;
  padding-top: 23px;
}

.pricing__title {
  font-weight: 800;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
  margin-top: 215px;
}

.pricing__description {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  margin-top: 19px;

  mix-blend-mode: normal;
  opacity: 0.6;
}
.pricing__box {
  background: #093f68;
  border-radius: 8px;
  width: 445px;
  height: 425px;
  margin-top: 1px;
  padding: 38px;
  color: white;
}

.pricing__box-light {
  color: #080c20;
  background: #3ee9e5;
}

.pricing__box-title {
  font-weight: 800px;
  font-size: 18px;
  line-height: 25px;

  padding-top: 49px;
}

.pricing__box-price {
  font-weight: 800;
  font-size: 40px;
  line-height: 55px;
  margin-top: 24px;

  display: block;
  margin-top: 24px;
}

.pricing__benefits-list {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  display: grid;
  gap: 12px;

  margin-top: 19px;
}

.pricing {
  gap: 50px;
  gap: 125px;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.pricing__container {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 119px;
  justify-content: center;
}

.pricing__paid-image {
  margin-top: -60px;
  display: block;
}

.pricing__box-description {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;

  mix-blend-mode: normal;
  opacity: 0.6;
  margin-top: 19px;
}

.pricing__box-price span {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;

  mix-blend-mode: normal;
  opacity: 0.6;
}
